/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');


/* === MAIN CSS === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* --- Colores --- */
    --color-primary: #216e8d;
    --color-secundary: #2d4d66;
    --color-light: #eaf0f7;
    --color-accent: #e96a5f;
    --color-google: linear-gradient(#ff4635, #e8b100, #34aa54, #4285f4);

    /* --- Fuentes --- */
    --font-primary: 'Poppins', sans-serif;
}
