/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://ionicframework.com/docs/theming/basics */

/* To quickly generate your own theme, check out the color generator */
/* https://ionicframework.com/docs/theming/color-generator */
/* varibles en css */
:root {
  --main-color: #086bec;
}

/* Estilos Generales */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: var(--main-color);
  background-color: #f5f5f5;
}

/* Encabezados */
h1, h2, h3 {
  color: #ee00f7;
}

/* Navegación */
nav {
  background-color: #09d4e2;
}
