/* You can add global styles to this file, and also import other style files */
/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Estilo básico del cuerpo de la aplicación */
body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
}

/* Estilo del enlace de navegación */
a {
  text-decoration: none;
  color: #333;
}

:root {
  --color-primary: #f30202;
  --color-secondary: #f30202;
  --color-light: #f30202;
  --color-accent: #b9e9bb;
  --color-google: #f30202;
  --imagenbanner:  url("./assets/bannergym.jpg");
}
